@use '../utils/colors' as c;

body[data-theme=dark] {
  // Dark colors
  --primary: #{c.$gray-dark-2};
  --primary-1: #{c.$gray-dark-1};
  --primary-2: #{c.$gray-dark-2};
  --primary-3: #{c.$gray-dark-3};
  --primary-4: #{c.$gray-dark-4};

  // Light colors
  --secondary: #{c.$white};
  --secondary-1: #{c.$gray-light-1};
  --secondary-2: #{c.$gray-light-2};
  --secondary-3: #{c.$gray-light-3};
  --secondary-4: #{c.$gray-light-4};
}
