@use '../utils/colors' as c;
@use '../utils/sizes' as sz;
@use '../utils/animations' as *;
@use '../utils/mixins' as *;
@use '../utils/shadows' as sh;


.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(var(--primary), .5);
  pointer-events: none;
  @include flex-center;
  
  &__svg {
    width: sz.$loader-size;
    height: sz.$loader-size;
    fill: transparent;
    overflow: visible;
    transform-origin: center;
    stroke-width: 2px;
    stroke: var(--secondary);
    stroke-dasharray: 100;
    stroke-dashoffset: 120;
    filter: sh.$black-normal-medium;
    animation: loader-stroke 1s ease-in-out infinite alternate,
                loader-spin 1.5s linear infinite;
  }
}
