@use '../utils/mixins' as *;
@use '../utils/animations' as *;
@use '../utils/colors' as c;
@use '../utils/shadows' as sh;
@use '../utils/constants' as const;
@use '../utils/functions' as f;


.pokemon-card {
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
  box-shadow: sh.$black-normal-medium;
  background-color: var(--primary);
  transition: background-color .3s ease;

  &__link {
    text-decoration: none;
  }

  &__figure {
    position: relative;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;

    // Set figure proportion to 3/2
    &::before {
      content: '';
      display: block;
      padding-bottom: 67%;
    }
  }

  &__image-wrapper {
    left: 50%;
    bottom: 15%;
    width: 65%;
    height: 100%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 1;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 25%;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);
      border-radius: 50%;
      background: radial-gradient(rgba(c.$black, .4), transparent 65%);
      z-index: -1;
    }
  }

  &__image {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 100%;

    filter: drop-shadow(sh.$black-normal-medium);
  }

  &__caption {
    display: block;
    position: absolute;
    overflow: hidden;
    inset: 0;

    &-text {
      position: absolute;
      top: 40%;
      left: 50%;
      font-size: 5vw;
      text-transform: uppercase;
      font-weight: 900;
      color: c.$white;
      transform: translate(-50%, -50%) skewX(-10deg) skewY(-5deg);
      mix-blend-mode: soft-light;
    }
  }

  &__header {
    padding: 1rem 2rem;
  }

  &__name {
    text-transform: capitalize;
    text-align: center;
    font-size: 1.8rem;
    color: var(--secondary-1);
    transition: color .3s ease;
  }

  &__types {
    margin-top: .5rem;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__types-item {
    padding: .4rem .75rem;
    border-top-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    box-shadow: sh.$black-light-medium;
  }

  &__type {
    color: c.$white;
    text-shadow: sh.$black-strong-medium,
                 sh.$black-strong-small;
  }

  &__figure {
    @each $type in const.$pokemon-types {
      &[data-type=#{$type}] { 
        &,
        & + .pokemon-card__header .pokemon-card__types-item {
          background: f.get-pokemon-type-gradient($type);
        }
      }
    }
  }

  &__image-wrapper:hover {
    &::after {
      animation: pokemon-shadow-grow .5s ease-in-out;
    }

    .pokemon-card__image {
      animation: pokemon-jump .5s ease-in-out;
    }
  }
}
