@use '../utils/colors' as c;
@use '../utils/shadows' as sh;


.search-box {
  margin: 0 auto;
  margin-bottom: 6rem;
  width: 50%;
  position: relative;

  &__input {
    margin: 0 auto;
    display: block;
    border-radius: .5rem;
    font-size: 1.8rem;
    padding: 1rem;
    width: 100%;
    border: 1px solid var(--secondary-4);
    color: var(--secondary-2);
    background-color: var(--primary);
    transition: all .3s;
  }

  &__hints {
    position: absolute;
    z-index: 5;
    list-style: none;
    width: 100%;
    background-color: var(--primary-1);
    max-height: 30rem;
    height: min-content;
    overflow-y: auto;
    border-radius: .5rem;
    color: var(--secondary-2);
    box-shadow: sh.$black-normal-medium;
  }

  &__hint {
    padding: 0 1rem;
    margin-bottom: .75rem;

    &:first-child {
      margin-top: .75rem;
    }
  }

  &__link {
    text-decoration: none;
    color: var(--secondary-2);
  }
}
