@use '../utils/colors' as c;

// Pokemon types gradients
$pokemon-normal:   linear-gradient(c.$pokemon-normal-primary, c.$pokemon-normal-secondary) mix(c.$pokemon-normal-primary, c.$pokemon-normal-secondary);

$pokemon-fighting: linear-gradient(c.$pokemon-fighting-primary, c.$pokemon-fighting-secondary) mix(c.$pokemon-fighting-primary, c.$pokemon-fighting-secondary);

$pokemon-flying:   linear-gradient(c.$pokemon-flying-primary, c.$pokemon-flying-secondary) mix(c.$pokemon-flying-primary, c.$pokemon-flying-secondary);

$pokemon-poison:   linear-gradient(c.$pokemon-poison-primary, c.$pokemon-poison-secondary) mix(c.$pokemon-poison-primary, c.$pokemon-poison-secondary);

$pokemon-ground:   linear-gradient(c.$pokemon-ground-primary, c.$pokemon-ground-secondary) mix(c.$pokemon-ground-primary, c.$pokemon-ground-secondary);

$pokemon-rock:     linear-gradient(c.$pokemon-rock-primary, c.$pokemon-rock-secondary) mix(c.$pokemon-rock-primary, c.$pokemon-rock-secondary);

$pokemon-bug:      linear-gradient(c.$pokemon-bug-primary, c.$pokemon-bug-secondary) mix(c.$pokemon-bug-primary, c.$pokemon-bug-secondary);

$pokemon-ghost:    linear-gradient(c.$pokemon-ghost-primary, c.$pokemon-ghost-secondary) mix(c.$pokemon-ghost-primary, c.$pokemon-ghost-secondary);

$pokemon-steel:    linear-gradient(c.$pokemon-steel-primary, c.$pokemon-steel-secondary) mix(c.$pokemon-steel-primary, c.$pokemon-steel-secondary);

$pokemon-fire:     linear-gradient(c.$pokemon-fire-primary, c.$pokemon-fire-secondary) mix(c.$pokemon-fire-primary, c.$pokemon-fire-secondary);

$pokemon-water:    linear-gradient(c.$pokemon-water-primary, c.$pokemon-water-secondary) mix(c.$pokemon-water-primary, c.$pokemon-water-secondary);

$pokemon-grass:    linear-gradient(c.$pokemon-grass-primary, c.$pokemon-grass-secondary) mix(c.$pokemon-grass-primary, c.$pokemon-grass-secondary);

$pokemon-electric: linear-gradient(c.$pokemon-electric-primary, c.$pokemon-electric-secondary) mix(c.$pokemon-electric-primary, c.$pokemon-electric-secondary);

$pokemon-psychic:  linear-gradient(c.$pokemon-psychic-primary, c.$pokemon-psychic-secondary) mix(c.$pokemon-psychic-primary, c.$pokemon-psychic-secondary);

$pokemon-ice:      linear-gradient(c.$pokemon-ice-primary, c.$pokemon-ice-secondary) mix(c.$pokemon-ice-primary, c.$pokemon-ice-secondary);

$pokemon-dragon:   linear-gradient(c.$pokemon-dragon-primary, c.$pokemon-dragon-secondary) mix(c.$pokemon-dragon-primary, c.$pokemon-dragon-secondary);

$pokemon-dark:     linear-gradient(c.$pokemon-dark-primary, c.$pokemon-dark-secondary) mix(c.$pokemon-dark-primary, c.$pokemon-dark-secondary);

$pokemon-fairy:    linear-gradient(c.$pokemon-fairy-primary, c.$pokemon-fairy-secondary) mix(c.$pokemon-fairy-primary, c.$pokemon-fairy-secondary);

