@use '../utils/animations' as *;
@use '../utils/mixins' as *;
@use '../utils/constants' as const;
@use '../utils/functions' as f;

.details {
  overflow: hidden;
  max-width: unset;
  width: 100%;
  min-height: 100vh;
  @include flex-center;

  @each $type in const.$POKEMON-TYPES {
    &[data-type=#{$type}] {
      background: f.get-pokemon-type-gradient($type);
    }
  }

  .pokemon-details {
    &__content {
      animation: fade-in-left .5s;
    }

    &__image-wrapper {
      animation: fade-in-right .5s;
    }
  }
}
