@use '../utils/mixins' as *;


.home {
  width: 100%;
  min-height: 100vh;
  @include flex-center;

  .header {
    display: flex;
    align-items: center;
    flex-direction: column;

    &__logo {
      max-width: 100rem;
      width: 90vw;
    }

    &__link {
      margin-top: 7.5em;
    }

    &__button {
      font-size: 1.8rem;

      @include respond(tab-port) {
        font-size: 1.6rem; 
      }

      @include respond(phone) {
        font-size: 1.4rem; 
      }
    }
  }
}
