@use '../utils/mixins' as *;

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 4vw;

  @include respond(tab-port) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6vw;
  }

  @include respond(phone) {
    grid-template-columns: 1fr;
    grid-gap: 12.5vw;
  }
}
