@use '../utils/sizes' as sz;


body {
  background-color: var(--primary-1);
}

.main {
  max-width: 120rem;
  width: 80%;
  margin: 0 auto;
  padding-top: calc(sz.$nav-bar-height + 6rem);
  padding-bottom: 6rem;
}
