@use '../utils/colors' as c;

// Window scrollbar
::-webkit-scrollbar {
  width: 1.5rem;
  height: 1.5rem;

  &-thumb {
    background-color: var(--primary-4);
    border-radius: 1rem;

    &:hover {
      background-color: var(--secondary-4);
    }
  }

  &-track {
    background-color: var(--primary-2);
  }
}
