@use 'sass:math';
@use '../utils/colors' as c;
@use '../utils/sizes' as sz;
@use '../utils/shadows' as sh;


.theme-switch {
  $height: .6 * sz.$nav-bar-height;
  $width: 2 * $height;
  $notch-size: .9 * $height;
  $notch-padding: math.div($height - $notch-size, 2);

  height: $height;
  width: $width;
  position: relative;
  
  &,
  &__label,
  &__label::before {
    border-radius: 5rem;
  }
  
  &__label {
    height: 100%;
    width: 100%;
    box-shadow: inset sh.$black-normal-small,
                      sh.$black-normal-small;
    background: linear-gradient(c.$theme-switch-day-sky-light, c.$theme-switch-day-sky-dark);
    display: block;
    position: relative;
    
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background: linear-gradient(c.$theme-switch-night-sky-dark, c.$theme-switch-night-sky-light);
      opacity: 0;
      transition: opacity .3s;
    }
  }

  &__checkbox {
    display: none;
  }

  &__notch {
    height: $notch-size;
    width: $notch-size;
    border-radius: 50%;
    background-color: c.$theme-switch-sun;
    box-shadow: 0 0 1rem c.$theme-switch-sun;
    position: absolute;
    top: 50%;
    left: $notch-padding;
    transform: translateY(-50%);
    z-index: 1;
    transition: all .3s ease-in-out;
  }

  &__crater {
    background: radial-gradient(c.$theme-switch-crater, transparent);
    border-radius: 50%;
    position: absolute;
    box-shadow: inset sh.$black-normal-small;
    opacity: 0;
    transition: opacity .3s;

    &:first-child {
      left: 5%;
      top: 15%;
      height: 15%;
      width: 35%;
      transform: rotate(-45deg);
    }

    &:last-child {
      right: 10%;
      top: 15%;
      height: 15%;
      width: 25%;
      transform: rotate(45deg);
    }
  }

  &__shape {
    position: absolute;
    background-color: c.$theme-switch-cloud;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all .3s ease;

    &::before {
      content: '';
      display: block;
      padding-bottom: 0;
      transition: padding-bottom .3s;
    }
   
    &--sm {
      height: 10%;
      width: 25%;
      top: 50%;
      left: 60%;
    }

    &--md {
      height: 12.5%;
      width: 35%;
      top: 25%;
      left: 25%;
      z-index: 2;
    }

    &--lg {
      height: 15%;
      width: 50%;
      bottom: 10%;
      left: 25%;
    }
  }

  // Styles for checked checkbox (dark mode)
  &__checkbox:checked + &__label {
    &::before {
      opacity: 1;
    }

    .theme-switch {
      &__notch {
        left: calc(100% - $notch-size - $notch-padding);
        background-color: c.$theme-switch-cloud;
        box-shadow: 0 0 .5rem c.$theme-switch-cloud;
      }

      &__crater {
        opacity: .4;
      }

      &__shape {
        // Trick to make shape square by setting only width 
        // (height will be automatically adjusted)
        &::before {
          padding-bottom: 100%;
        }
        
        height: unset;
        background-color: c.$theme-switch-star;
        box-shadow: 0 0 1rem .2rem c.$theme-switch-star-glow;

        &--sm {
          width: 2.5%;
          left: 35%;

          &:first-of-type {
            left: 15%;
            top: 40%;
          }
        }

        &--md {
          width: 5%;
          left: 30%;
        }

        &--lg {
          width: 7.5%;
          left: 15%;
        }
      }
    }
  }
}
